<div class="tsd-panel tsd-typography">
    {{#ifCond project.name '==' "@awayjs"}}
        {{#markdown}}[[include:home.md]]{{/markdown}}
    {{else}}
        {{#markdown}}{{{model.readme}}}{{/markdown}}
    {{/ifCond}}
</div>
{{#with model}}
    <div style="position:relative;"><a name="typedoc-main-index" class="tsd-anchor"></a></div>
    {{> index}}
    {{> members}}
{{/with}}